<div class="container">

    <p >crud-clientes works!</p>
<div class="home_data">
    <h3 class="home_subtitle">#1 first Scared Ghost</h3>
    <h1 class="home_title">UOOOO <br> TRICK OR <br> TREAT!!</h1>
    <p class="home_description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
        consectetur eius
        doloremque suscipit, facilis blanditiis possimus cupiditate deserunt
        est, expedita
        temporibus fugit sunt quaerat quidem optio? Quam enim laborum
        repellendus?
    </p>
</div>
</div>