<p>menu works!</p>

<header id="header" class="header">
    <nav class="nav container">
      <a href="#" class="nav_logo">
        <img src="assets/img/Logo.jpg" alt="" class="nav_logo-img">
        SurVive.ec
      </a>
      <div class="nav_menu" id="nav-menu">
        <ul class="nav_list">
          <li class="nav_item">
            <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" class="nav_link">Home</a>
          </li>
          <li class="nav_item"  >
            <a  routerLink="productos" routerLinkActive="active-link" class="nav_link " >Productos</a>
          </li>
          <li class="nav_item"  >
            <a  routerLink="seccion" routerLinkActive="active-link" class="nav_link " >Sección</a>
          </li>
          <li class="nav_item">
            <a routerLink="clientes" routerLinkActive="active-link" class="nav_link">Usuarios</a>
          </li>
          <li class="nav_item">
            <a routerLink="roles" routerLinkActive="active-link" class="nav_link">Roles</a>
          </li>

          <li class="nav_item">
            <a routerLink="carrito" routerLinkActive="active-link"  class="nav_link">Carrito</a>
          </li>
          <li class="nav_item">
            <a routerLink="ventas" routerLinkActive="active-link"  class="nav_link">Ventas</a>
          </li>

          <a href="#" class="button button--ghost">Support</a>

        </ul>
        <div id="nav-close" class="nav_close">
          <i class='bx bx-x'></i>
        </div>
        <img src="assets/img/nav-img.png" alt="" class="nav_img">
      </div>

      <div class="nav_toggle" id="nav-toggle">
        <i class='bx bxs-grid-alt'></i>
      </div>
    </nav>
 

  </header>

